@page "/"

<div class="container">
    <div class="row g-4">

        <!-- Sidenav START -->
        <div class="col-lg-3">

            <!-- Advanced filter responsive toggler START -->
            <div class="d-flex align-items-center d-lg-none">
                <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
                    <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
                    <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
                </button>
            </div>
            <!-- Advanced filter responsive toggler END -->
            <!-- Navbar START-->
            <nav class="navbar navbar-expand-lg mx-0">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
                    <!-- Offcanvas header -->
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <!-- Offcanvas body -->
                    <div class="offcanvas-body d-block px-2 px-lg-0">
                        <!-- Card START -->
                        <div class="card overflow-hidden">
                            <!-- Cover image -->
                            <div class="h-50px"></div>
                            <!-- Card body START -->
                            <div class="card-body pt-0">
                                <div class="text-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-lg mt-n5 mb-3">
                                        <CurrentUserProfilePicture />
                                    </div>
                                    <!-- Info -->
                                    <h5 class="mb-0"> <a @onclick:preventDefault href="#!">@currentUser?.FirstName @currentUser?.LastName</a> </h5>

                                </div>

                                <!-- Divider -->
                                <hr>

                                <!-- Side Nav START -->
                                <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile"> <i class="bi bi-card-heading"></i><span> My Posts </span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/profile/friends"><i class="bi bi-people-fill"></i> <span> Friends </span></a>
                                    </li>
                                </ul>
                                <!-- Side Nav END -->
                            </div>
                            <!-- Card body END -->
                            <!-- Card footer -->
                            <div class="card-footer text-center py-2">
                                <a class="btn btn-link btn-sm" href="profile">View Profile </a>
                            </div>
                        </div>
                        <!-- Card END -->
                        <Copyright />
                    </div>
                </div>
            </nav>
            <!-- Navbar END-->
        </div>
        <!-- Sidenav END -->
        <!-- Main content START -->
        <div class="col-md-8 col-lg-6 vstack gap-4">

            <AddPostComponent />

            <PostsDisplay Posts=posts />

        </div>
        <!-- Main content END -->
        <!-- Right sidebar START -->
        <div class="col-lg-3">
            <div class="row g-4">

                @if (friendRequests?.Any() == true)
                {
                    <!-- Card requests START -->
                    <div class="col-sm-6 col-lg-12">
                        <div class="card">
                            <!-- Card header START -->
                            <div class="card-header pb-0 border-0">
                                <h5 class="card-title mb-0">Pending Requests</h5>
                            </div>
                            <!-- Card header END -->
                            <!-- Card body START -->
                            <div class="card-body">
                                @foreach (var user in friendRequests)
                                {
                                    <div class="hstack gap-2 mb-3">
                                        <!-- Avatar -->
                                        <div class="avatar">
                                            <ProfilePicture FileName=@user.ProfilePicUrl />
                                        </div>
                                        <!-- Title -->
                                        <div class="overflow-hidden">
                                            <a class="h6 mb-0" href="#!">@user.FirstName @user.LastName</a>
                                        </div>
                                        <!-- Button -->
                                        <a class="btn btn-primary-soft rounded-circle icon-md ms-auto" @onclick=@(() => RespondFriendRequest(user.Id, true)) @onclick:preventDefault href="#"><i class="fa-solid fa-plus"> </i></a>
                                        @*<a class="btn btn-primary-soft rounded-circle icon-md ms-auto" @onclick:preventDefault href="#"><i class="fa-solid fa-times"> </i></a>*@
                                    </div>
                                }
                                <!-- Connection item START -->
                                <!-- Connection item END -->
                            </div>
                            <!-- Card body END -->
                        </div>
                    </div>
                    <!-- Card requests START -->
                }

            </div>
        </div>
        <!-- Right sidebar END -->

    </div> <!-- Row END -->
</div>