@layout EmptyLayout
@page "/login"

<div class="row justify-content-center align-items-center vh-100 py-5">
    <!-- Main content START -->
    <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <!-- Sign in START -->
        <div class="card card-body text-center p-4 p-sm-5">

            @if (isShowingForgotPassword)
            {
                                <!-- Title -->
                <h1 class="mb-2">Forgot password</h1>
                <p class="mb-0">Remembered already?<a href="#" @onclick:preventDefault=true @onclick=@(e => isShowingForgotPassword = false)> Click here to sign up</a></p>
                <!-- Form START -->
                <form @onsubmit=ForgotPasswordAsync class="mt-sm-4">

                    @foreach (var error in errors)
                    {
                        <small class="text-danger">@error</small>
                    }

                    <!-- Email -->
                    <div class="mb-3 input-group-lg">
                        <input @bind-value=forgotEmail class="form-control" placeholder="Enter Email" />
                    </div>
                    <!-- Button -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-lg btn-primary" @onclick=ForgotPasswordAsync disabled=@isLoadingForgotPassword>
                            @if (isLoadingForgotPassword)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            }
                            Send Email
                        </button>
                    </div>
                    <!-- Copyright -->
                    <p class="mb-0 mt-3">©2022 <a target="_blank" href="https://www.webestica.com/">Webestica.</a> All rights reserved</p>
                </form>
                <!-- Form END -->
            }
            else if (isSignup)
            {
                <div class="text-center">
                    <!-- Title -->
                    <h1 class="mb-2">Sign up</h1>
                    <span class="d-block">Already have an account? <a href="#" @onclick:preventDefault=true @onclick=@(e => isSignup = false)>Sign in here</a></span>
                </div>
                <!-- Form START -->
                <EditForm Model=signUpModel OnValidSubmit=SignupAsync OnInvalidSubmit=CleanUp class="mt-4">
                    @foreach (var error in errors)
                    {
                        <small class="text-danger">@error</small>
                    }
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <!-- Username -->
                    <div class="mb-3 input-group-lg">
                        <InputText @bind-Value=signUpModel.UserName class="form-control" placeholder="Enter username" />
                    </div>
                    <!-- Email -->
                    <div class="mb-3 input-group-lg">
                        <InputText @bind-Value=signUpModel.Email type="email" class="form-control" placeholder="Enter email" />
                        @*<small>We'll never share your email with anyone else.</small>*@
                    </div>
                    <!-- New password -->
                    <div class="mb-3 position-relative">
                        <!-- Input group -->
                        <div class="input-group input-group-lg">
                            <InputText @bind-Value=signUpModel.Password class="form-control fakepassword" type="password" id="psw-input" placeholder="Enter new password" />
                            @*<span class="input-group-text p-0">
                        <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                        </span>*@
                        </div>

                        <ValidationMessage For="() => signUpModel.Password" />

                        <!-- Pswmeter -->
                        <div id="pswmeter" class="mt-2"></div>
                        <div class="d-flex mt-1">
                            <div id="pswmeter-message" class="rounded"></div>
                            <!-- Password message notification -->
                        </div>
                    </div>
                    <!-- Confirm password -->
                    <div class="mb-3 input-group-lg">
                        <InputText @bind-Value=signUpModel.ConfirmPassword class="form-control" type="password" placeholder="Confirm password" />
                    </div>
                    <!-- Keep me signed in -->
                    <div class="mb-3 text-start">
                        <input type="checkbox" class="form-check-input" id="keepsingnedCheck">
                        <label class="form-check-label" for="keepsingnedCheck"> Keep me signed in</label>
                    </div>
                    <!-- Button -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-lg btn-primary">
                            @if (isSigningUp)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            }
                            Sign me up
                        </button>
                    </div>
                    <!-- Copyright -->
                    <p class="mb-0 mt-3 text-center">©2022 <a target="_blank" href="https://www.webestica.com/">Webestica.</a> All rights reserved</p>
                </EditForm>
                <!-- Form END -->
            }
            else
            {
                <!-- Title -->
                <h1 class="mb-2">Sign in</h1>
                <p class="mb-0">Don't have an account?<a href="#" @onclick:preventDefault=true @onclick=@(e => isSignup = true)> Click here to sign up</a></p>
                <!-- Form START -->
                <EditForm Model=loginModel OnInvalidSubmit=CleanUp OnValidSubmit=LoginAsync class="mt-sm-4">

                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    @foreach (var error in errors)
                    {
                        <small class="text-danger">@error</small>
                    }

                    <!-- Email -->
                    <div class="mb-3 input-group-lg">
                        <InputText @bind-Value=loginModel.UserName class="form-control" placeholder="Enter username" />
                    </div>
                    <!-- New password -->
                    <div class="mb-3 position-relative">
                        <!-- Password -->
                        <div class="input-group input-group-lg">
                            <InputText @bind-Value=loginModel.Password class="form-control fakepassword" type="password" id="psw-input" placeholder="Enter new password" />
                            <span class="input-group-text p-0">
                                <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                            </span>
                        </div>
                        <!-- Pswmeter -->
                        <div id="pswmeter" class="mt-2">
                            <ValidationMessage For="() => loginModel.Password" />
                        </div>
                        <div class="d-flex mt-1">
                            <div id="pswmeter-message" class="rounded"></div>
                            <!-- Password message notification -->
                            <div class="ms-auto">
                                <i class="bi bi-info-circle ps-1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Include at least one uppercase, one lowercase, one special character, one number and 8 characters long." data-bs-original-title="" title=""></i>
                            </div>
                        </div>
                    </div>
                    <!-- Remember me -->
                    <div class="mb-3 d-sm-flex justify-content-between">
                        <div>
                            <input type="checkbox" class="form-check-input" id="rememberCheck">
                            <label class="form-check-label" for="rememberCheck">Remember me?</label>
                        </div>
                        <a href="#" @onclick:preventDefault=true @onclick=@(() => isShowingForgotPassword = true)>Forgot password?</a>
                    </div>
                    <!-- Button -->
                    <div class="d-grid">
                        <button type="submit" class="btn btn-lg btn-primary" disabled=@isLoggingIn>
                            @if (isLoggingIn)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            }
                            Login
                        </button>
                    </div>
                    <!-- Copyright -->
                    <p class="mb-0 mt-3">©2022 <a target="_blank" href="https://www.webestica.com/">Neville Nazerane</a> Most rights reserved</p>
                </EditForm>
                <!-- Form END -->
            }



        </div>
        <!-- Sign in START -->
    </div>
</div> <!-- Row END -->
