@page "/profile/{id:int}/friends"
@page "/profile/friends"
@layout ProfileLayout




<a @onclick:preventDefault @onclick=SwapAddNew class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#">
    <i class="fa-solid fa-plus"></i>
</a>

@if (addNew)
{
    <form @onsubmit=SearchAsync class="rounded position-relative">
        <input @bind-value=search class="form-control ps-5 bg-light" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn bg-transparent px-2 py-0 position-absolute top-50 start-0 translate-middle-y" type="submit">
            <i class="bi bi-search fs-5"></i>
        </button>
    </form>

    foreach (var result in searchResults)
    {
        <div>@result.FirstName</div>
    }
}


@if (friends is not null)
{
    <h2>Friends</h2>
    foreach (var friend in friends)
    {
        <div>@friend.FirstName</div>
    }
}

@if (requests is not null)
{
    <h2>Request</h2>
    foreach (var friend in requests)
    {
        <div>@friend.FirstName</div>
    }
}
