@layout ProfileLayout

@page "/profile"

            <div class="card card-body card-newpost">
                <form @onsubmit=AddPostAsyc class="w-100">
                    <div class="d-flex mb-3">
                        <!-- Avatar -->
                        <div class="avatar avatar-xs me-2">
                            <ProfilePictureIcon />
                        </div>
                        <!-- Post input -->
                        <input @bind=addPostModel.Text @bind:event="oninput" class="form-control pe-4 border-0" placeholder="Share your thoughts...">
                    </div>

        @*    <!-- Share feed toolbar START -->
                    <ul class="nav nav-pills nav-stack small fw-normal">
                    <li class="nav-item">
                    <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"> <i class="bi bi-image-fill text-success pe-2"></i>Photo</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionVideo"> <i class="bi bi-camera-reels-fill text-info pe-2"></i>Video</a>
                    </li>
                    </ul>
                    <!-- Share feed toolbar END -->*@


        @if (!string.IsNullOrEmpty(addPostModel?.Text))
        {
                            <div class="text-sm-end">
                                <button type="submit" class="btn btn-success-soft">Post</button>
                            </div>
        }
                </form>
            </div>

@if (posts is not null)
{
    foreach (var post in posts.Reverse())
    {
                            <PostDisplay Post=post OnDelete="@(async () => await DeletePostAsync(post.Id))" />
    }
}