[Unit]
Description=Nuget documentations

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/var/www/socially
ExecStart=/usr/bin/dotnet /var/www/socially/Socially.WebAPI.dll --urls http://localhost:#{url.port}#
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=docs
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=connectionStrings__sqlDb='#{confg.sqlDb}#'
