<!-- =======================
        Header START -->
<header class="navbar-light fixed-top header-static bg-mode">
    <!-- Logo Nav START -->
    <nav class="hidden navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand" href="/">
                <img class="light-mode-item navbar-brand-item" src="images/logo-no-background.svg" alt="logo">
                <img class="dark-mode-item navbar-brand-item" src="images/logo-no-background.svg" alt="logo">
            </a>
            <!-- Logo END -->
            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-animation">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>


            <!-- Nav right START -->
            <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
                <li class="nav-item ms-2">
                    <a class="nav-link icon-md btn btn-light p-0" href="https://github.com/neville-nazerane/Socially" target="_blank">
                        <i class="bi bi-github fs-6"> </i>
                    </a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link icon-md btn btn-light p-0" href="account">
                        <i class="bi bi-gear-fill fs-6"> </i>
                    </a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link icon-md btn btn-light p-0" href="profile">
                        <i class="bi bi-person fs-6"> </i>
                    </a>
                </li>

                <li class="nav-item ms-2 dropdown">
                    <a class="nav-link btn icon-md p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">

                        <CurrentUserProfilePicture />

                        @* @if (profileInfo?.ProfilePictureFileName != null)
                        {
                        <img class="avatar-img rounded-2" src="@Config["imageBase"]/userprofiles/@profileInfo.ProfilePictureFileName" alt="">
                        }*@
                    </a>
                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
                        <!-- Profile info -->
                        <li class="px-3">
                            <div class="d-flex align-items-center position-relative">
                                <!-- Avatar -->
                                <div class="avatar me-3">
                                    <CurrentUserProfilePicture />
                                </div>
                                <div>
                                    <a class="h6 stretched-link" href="#">@profileInfo?.FirstName @profileInfo?.LastName</a>
                                    @*<p class="small m-0">Web Developer</p>*@
                                </div>
                            </div>
                            <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="/profile">View profile</a>
                        </li>
                        <!-- Links -->
                        <li><a class="dropdown-item" href="account"><i class="bi bi-gear fa-fw me-2"></i>Settings & Privacy</a></li>
                        <li>
                            <a class="dropdown-item" href="https://github.com/neville-nazerane/Socially" target="_blank">
                                <i class="fa-fw bi bi-github me-2"></i>Source Code
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item bg-danger-soft-hover" href="#" @onclick:preventDefault @onclick=LogoutAsync><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                        <li> <hr class="dropdown-divider"></li>
                        <!-- Dark mode switch START -->
                        <li>
                            <div class="modeswitch-wrap" id="darkModeSwitch">
                                <div class="modeswitch-item">
                                    <div class="modeswitch-icon"></div>
                                </div>
                                <span>Dark mode</span>
                            </div>
                        </li>
                        <!-- Dark mode switch END -->
                    </ul>
                </li>
                <!-- Profile START -->

            </ul>
            <!-- Nav right END -->
        </div>
    </nav>
    <!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->
