
@if (Posts is not null)
{
    foreach(var post in Posts.Reverse())
    {
        <!-- Card feed item START -->
        <div class="card">
            <!-- Card header START -->
            <div class="card-header border-0 pb-0">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <div class="avatar avatar-story me-2">
                            <a href="#!"> <ProfilePicture FileName=@CachedContext.GetUser(post.CreatorId).ProfilePicUrl /> </a>
                        </div>
                        <!-- Info -->
                        <div>
                            <div class="nav nav-divider">
                                <h6 class="nav-item card-title mb-0"> <a href="#!"> @CachedContext.GetUser(post.CreatorId).FirstName @CachedContext.GetUser(post.CreatorId).LastName </a></h6>
                                <span class="nav-item small">@post.CreatedOn.ToDuration()</span>
                            </div>
                        </div>
                    </div>
                    <!-- Card feed action dropdown START -->
                    <div class="dropdown">
                        <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <!-- Card feed action dropdown menu -->
                        @if (currentUser?.Id == post.CreatorId)
                        {
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction1">
                                <li><a @onclick:preventDefault @onclick=@(() => DeleteAsync(post.Id)) class="dropdown-item" href="#"><i class="bi bi-slash-circle fa-fw pe-2"></i>Delete</a></li>

                            </ul>
                        }

                    </div>
                    <!-- Card feed action dropdown END -->
                </div>
            </div>
            <!-- Card header END -->
            <!-- Card body START -->
            <div class="card-body">
                <p>@post?.Text</p>
                <!-- Card img -->
                <!-- Feed react START -->
                <ul class="nav nav-stack py-3 small">
                    <li class="nav-item">
                        <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments (@(post?.Comments?.Count() ?? 0))</a>
                    </li>
                </ul>
                <!-- Feed react END -->

                <CommentsDisplay PostId=post.Id Comments=post.Comments />

            </div>
            <!-- Card body END -->
        </div>
        <!-- Card feed item END -->
    }
}