<!-- media START -->
<div class="card">
    <!-- Card header START -->
    <div class="card-header d-sm-flex align-items-center justify-content-between border-0 pb-0">
        <h5 class="card-title">Photos</h5>
        <!-- Button modal -->
        <a class="btn btn-sm btn-primary-soft" href="#" data-bs-toggle="modal" data-bs-target="#modalCreateAlbum"> <i class="fa-solid fa-plus pe-1"></i> Create album</a>
    </div>
    <!-- Card header END -->
    <!-- Card body START -->
    <div class="card-body">
        <!-- Photos of you tab START -->
        <div class="row g-3">

            <!-- Add photo START -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <InputFile hidden="hidden" @ref=uploadInput OnChange=ImageUploaded />
                <div @onclick:preventDefault @onclick=TriggerTheKracken class="border border-2 py-5 border-dashed h-100 rounded text-center d-flex align-items-center justify-content-center position-relative">
                    <a class="stretched-link" href="#!">
                        <i class="fa-solid fa-camera-retro fs-1"></i>
                        <h6 class="mt-2">Add photo</h6>
                    </a>
                </div>
            </div>
            <!-- Add photo END -->
            <!-- Photo item START -->
            @if (isLoading)
            {
                <center>
                    <div class="preloader-item">
                        <div class="spinner-grow text-primary"></div>
                    </div>
                </center>
            }
            else
            {
                if (images != null)
                {
                    @foreach (var img in images.AsEnumerable().Reverse())
                    {
                        <div @onclick:stopPropagation @onclick:preventDefault @onclick=@(() => SelectImage(img)) class="col-sm-6 col-md-4 col-lg-3">
                            <!-- Photo -->
                            <a href="@Config["imageBase"]/userprofiles/@img" target="_blank" data-gallery="image-popup" data-glightbox="description: .custom-desc2; descPosition: left;">
                                <img class="rounded img-fluid" src="@Config["imageBase"]/userprofiles/@img" alt="">
                            </a>
                            <!-- likes -->
                            <ul class="nav nav-stack py-2 small">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @onclick:preventDefault @onclick=@(async () => DeleteAsync(@img))> <i class="bi bi-heart-fill text-danger pe-1"></i>Delete</a>
                                </li>
                            </ul>
                  
                        </div>
                    }
                }
            }

        </div>
        <!-- Photos of you tab END -->
    </div>
    <!-- Card body END -->
</div>
<!-- media END -->
